#container {
  display: grid;
  gap: 10px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 180px 100px 80px 120px auto;
}
.gridbox {
  background: #ddd;
  padding: 10px;
  border-radius: 8px;
  border: 3px solid #ccc;
}
@media (orientation: portrait){
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
